{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}


{% block total_tests %}
<h5 class="card-title">Tests</h5>
<p class="card-text">Total tests run: {{ statistics.total }}</p>
{% endblock %}

{% block success_rate %}
<h5 class="card-title">Success Rate</h5>
<p class="card-text">{{ statistics.success_rate }}%</p>
{% endblock %}

{% block failures %}
<h5 class="card-title">Failures</h5>
<p class="card-text">Total failures: {{ statistics.failures }}</p>
{% endblock %}

{% block table %}
<div class="table-responsive">
    <div class="project-table my-5">
        <h2 class="text-center my-3">Projects</h2>
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Test File</th>
                    <th scope="col">Github URL</th>
                    <th scope="col">Target Branch</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <th scope="row">{{ project.id }}</th>
                    <td><a href="/project/{{project.id}}">{{ project.name }}</a></td>
                    <td>{{ project.test_file }}</td>
                    <td>{{ project.github_url }}</td>
                    <td><i>{{ project.target_branch }}</i></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}