{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block stats_type %}Global Stats{% endblock %}

{% block total_tests %}
<h5 class="card-title">Tests</h5>
<p class="card-text">Total tests run: {{ statistics.total }}</p>
{% endblock %}

{% block success_rate %}
<h5 class="card-title">Success Rate</h5>
<p class="card-text">{{ statistics.success_rate }}%</p>
{% endblock %}

{% block failures %}
<h5 class="card-title">Failures</h5>
<p class="card-text">Total failures: {{ statistics.failures }}</p>
{% endblock %}

{% block table %}
<div class="table-responsive">
    <div class="project-table my-5">
        <h2 class="text-center my-3">Projects</h2>
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Test File</th>
                    <th scope="col">Github URL</th>
                    <th scope="col">Target Branch</th>
                    <th scope="col">Last Batch</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <th scope="row">{{ project.id }}</th>
                    <td><a href="/project/{{project.id}}">{{ project.name }}</a></td>
                    <td>{{ project.test_file }}</td>
                    <td><a href="https://github.com/{{ project.github_url }}" target="_blank">{{ project.github_url }}</a></td>
                    <td><i>{{ project.target_branch }}</i></td>
                    <td>{{ project.last_batch }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>

    // Function to remove flash messages after a delay
    const removeFlashMessages = () => {
        var flashMessages = document.querySelectorAll('.alert');
        flashMessages.forEach((message) => {
            setTimeout(() => {
                message.remove();
            }, 3000);
        });
    }

    // Call the function when the page loads
    document.addEventListener('DOMContentLoaded', removeFlashMessages);

</script>

{% endblock %}